_ReSharper.*
bin
obj
build
*.min.js
*.suo
*resharper*
*.user
*.cache
*.nupkg
**/packages/*
packages/*
!packages/build/
!**/packages/build/
*.ncrunchproject
~*.*
.DS_STORE
[Ll]ogs
/buildwork
/packages/[Aa]ngular*
/packages/[Ww]eb[Gg]rease*
/buildscripts/local.ps1
*.ncrunchsolution
*chromedriver.log*
csx
rcf
node_modules
Thumbs.db
UpgradeLog*
# NuGet Packages
node_modules/
bower_components/
*.orig
*.idea/
*TestResults/
*jspm_packages/
*.tmp/
/TestResults/*
*npm-debug.log*
*.map
/.vs/*
*dbmdl
*.Database.jfm
/Servicing.Web/Content/Client
/Servicing.Web/Content/Styles/*.min.css
/Servicing.Web/Content/Styles/*.css
/Servicing.Web/Content/Styles/*.map
/Servicing.Web/Content/Styles/.sass-cache/
/Servicing.Database/Servicing.Database.dbmdl
/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/Servicing.Web/Content/Styles/Views/_transaction.css
/Servicing.ServiceBus.Processor/Properties/PublishProfiles/uatservicing - Web Deploy.pubxml
/Servicing.ServiceBus.Processor/Properties/PublishProfiles/devservicing - Web Deploy.pubxml
*wkhtmltopdf/
sass_watch.ps1
